*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px magenta dashed; */
}

:root {
    --padding: 4rem;
    --max-width: 1200px;
}

body {
    font-family: 'Inter', sans-serif;
}

body.fixed {
    height: 100vh;
    height: 100svh;
    overflow: hidden;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 0.2em;
}

nav.main-nav {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0em var(--padding);
    z-index: 5;
}

nav.main-nav.sticky {
    position: fixed;
    background-color: #142024;
}

nav.main-nav.sticky .container {
    padding: 1em 0;
}

nav.main-nav .container {
    padding: 2em 0;
    margin: 0 auto;
    display: flex;
    max-width: var(--max-width);
    justify-content: space-between;
    transition: padding 0.2s;
}

nav.main-nav .nav-right {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

nav.main-nav ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
    align-items: center;
    font-size: 1em;
    color: white;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
}

nav .button {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 500px;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.2s;
}

nav .button:hover {
    background-color: white;
    color: #142024;
}

.nav-link {
    position: relative;
}

nav .active::after {
    content: '';
    position: absolute;
    background-color: white;
    top: 1.5em;
    height: 1px;
    left: 0;
    right: 0;
}

.hamburger {
    position: relative;
    display: none;
    width: 16px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 4px 0px;
    transition: 0.4s;
    border-radius: 5px;
}

.hamburger.is-active:before {
    transform: translate(0px, 6px) rotate(45deg);
}

.hamburger.is-active:after {
    transform: translate(0px, -6px) rotate(-45deg);
}

.hamburger.is-active .bar {
    opacity: 0;
}

nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: #142024;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

nav.mobile.active {
    visibility: visible;
}

nav.mobile .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav.mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    text-align: center;
    font-size: 2em;
    align-items: center;
}

nav.mobile .button {
    padding: 0.5em 1.5em;
}

nav.mobile li.active::after {
    height: 2px;
    border-radius: 2px;
}

nav.mobile ul li {
    width: fit-content;
}

nav.mobile .socials {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
}

section {
    padding: 2em 0;
}

header {
    position: relative;
    background-color: black;
    padding: 0em var(--padding);
    width: 100%;
    height: 60vh;
    height: 60svh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.full-header {
    height: 100vh;
    height: 100svh;
}

#reserve-header img,
#about-header img {
    filter: brightness(50%);
}

header img {
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(80%);
    z-index: 1;
}

header .container {
    max-width: var(--max-width);
    z-index: 2;
    color: white;
    width: 100%;
    max-width: var(--max-width);
    text-align: center;
}

header h1 {
    font-size: 5em;
    /* text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.49); */
}

header p {
    font-size: 1.2em;
    margin-top: 1em;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.49);
}

section {
    padding: 4em var(--padding);
    margin: 0 auto;
}

section h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    text-align: center;
}

section p {
    line-height: 2em;
    text-align: center;
    color: #444;
}

section .container {
    margin: 0 auto;
    max-width: 700px;
}

.image-back * {
    color: white;
    z-index: 2;
}

.image-back p {
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.49);
}

#reserve {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    background-image: url('assets/restaurant.jpg');
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.parallax::before {
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#reserve .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    z-index: 2;
}

#reserve h1 {
    margin: 0;
}

.button {
    display: inline-block;
    padding: 1.5em 1.5em;
    text-decoration: none;
    border-radius: 500px;
    transition: color 0.2s, background-color 0.2s;
}

.white-border {
    border: 2px solid white;
}

.white-border:hover {
    background-color: white;
    color: #142024;
}

.dark-green {
    background-color: transparent;
    color: #142024;
    border: 2px solid #142024;
}

.dark-green:hover {
    color: white;
    background-color: #142024;
}

#reserve .button {
    display: inline-block;
    align-self: center;
}

#menu .container {
    max-width: var(--max-width);
    display: flex;
    gap: 1.5em;
}

#menu .card img {
    width: 100%;
    object-fit: cover;
}

#menu .card h3 {
    text-transform: uppercase;
    margin: 1em 0;
}

#menu .card p {
    text-align: left;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

footer {
    background-color: #142024;
    padding: 4em var(--padding);
}

footer .container {
    margin: 0 auto;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4em;
    color: white;
}

footer ul {
    color: white;
    list-style: none;
    display: flex;
    margin-top: 1em;
    gap: 2em;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    display: block;
}

footer .logo {
    margin-bottom: 1em;
}

footer h3 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

footer .col:last-of-type a {
    margin-bottom: 0.5em;
}

footer address {
    font-style: normal;
    font-weight: 200;
    margin: 0.5em 0;
    line-height: 1.5em;
}

footer .hours span {
    font-weight: 700;
}

footer .hours p {
    font-weight: 200;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    margin: 0.5em 0;
}

#menu-section {
    padding-top: 2em;
}

.sub-menu {
    margin: 3em 0;
}

#menu-section .container {
    max-width: var(--max-width);
}

#menu-section .title {
    margin-bottom: 3em;
    color: black;
}

#menu-section h2 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

#menu-section .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    column-gap: 3em;
    row-gap: 2em;
}

#menu-section .item {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content;
    grid-template-rows: max-content 1fr;
    row-gap: 1em;
}

#menu-section .item h3 {
    align-self: baseline;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    position: relative;
}

#menu-section .item p {
    text-align: left;
    line-height: 1.7em;
}

#menu-section .item .price {
    line-height: 1em;
    align-self: baseline;
}

#menu-section .desc {
    grid-column: 1 / span 1;
}

#about .container img {
    grid-area: 1 / 1 / 2/ 2;
    align-self: center;
    justify-self: center;
    display: block;
    border-radius: 50%;
    width: 80%;
    rotate: 120deg;
    -webkit-box-shadow: -3px -19px 18px -8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -3px -19px 18px -8px rgba(0, 0, 0, 0.28);
    box-shadow: -3px -19px 18px -8px rgba(0, 0, 0, 0.28);
    animation: spin 60s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#about .container {
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

#about .text {
    max-width: 600px;
    grid-column: 2/-1;
    align-self: center;
}

#about .text > * {
    text-align: left;
}

section#kitchen {
    height: 60vh;
    background-image: url('assets/kitchen.jpg');
}

#kitchen.parallax {
    z-index: 0;
}

#kitchen .container {
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kitchen .container h1 {
    font-size: 4em;
    margin: 0;
}

#chefs .container {
    max-width: var(--max-width);
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

#chefs .container h2 {
    text-transform: uppercase;
}

#chefs .container p {
    text-align: left;
}

#chefs .container .title {
    font-weight: 700;
    text-transform: uppercase;
}

#chefs .container .about {
    margin-top: 1em;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'name name' 'email number'
        'special special' 'date date'
        'party party'
        'submit submit';
    gap: 1em;
}

form #name {
    grid-area: name;
    padding: O;
}

fieldset {
    grid-column: 1 / span 2;
    border: none;
    margin: 0.75em 0;
}

legend {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    width: 100%;
    color: #142024;
}

.required legend::after {
    content: ' *';
    color: red;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: #444;
    font-size: 1em;
}

fieldset input {
    width: 100%;
}

fieldset div {
    display: grid;
    gap: 1em;
}

fieldset#name div {
    grid-template-columns: 1fr 1fr;
}

fieldset#time-section div {
    grid-template-columns: 1fr 1fr 1fr;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid #dfdfdf;
}

input,
select,
textarea {
    color: #444;
    border: 1px solid #d5d5d5;
    display: block;
    padding: 0.75em;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d5d5d5;
    font-size: 1em;
    width: 100%;
}

fieldset#party select,
form > input {
    width: unset;
}

textarea {
    width: 100%;
    resize: vertical;
    grid-column: 1/-1;
    font-family: 'Inter', sans-serif;
    padding: 0.75em;
    height: 100px;
}

fieldset#time-section {
    grid-template-columns: 1fr 1fr 1fr;
}

fieldset#email {
    grid-area: email;
}

fieldset#phone-num {
    grid-area: number;
}

fieldset#party {
    grid-area: party;
}

form > input {
    -webkit-appearance: none;
    grid-area: submit;
    justify-self: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

@media (max-width: 370px) {
    #menu-section .desc {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 400px) {
    #reserve-header h1 {
        font-size: 3em;
    }

    #reserve-header p {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    :root {
        --padding: 1.5rem;
    }

    header {
        padding: 0 1.5rem;
    }

    header {
        font-size: 0.8em;
    }

    #menu-section .items {
        grid-template-columns: 1fr;
    }

    footer .container {
        grid-template-columns: 1fr;
    }

    fieldset#name div {
        grid-template-columns: 1fr;
    }

    fieldset#name div label {
        flex-direction: column-reverse;
    }
}

@media (max-width: 750px) {
    nav.main-nav ul {
        display: none;
    }

    nav.main-nav .hamburger {
        display: block;
    }

    #reserve-header {
        font-size: 0.7em;
    }

    section h1 {
        font-size: 2em;
    }

    .parallax {
        background-attachment: scroll;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'name name'
            'email email'
            'number number'
            'special special'
            'date date'
            'party party'
            'submit submit';
        gap: 1em;
    }
}

@media (min-width: 751px) {
    nav.mobile,
    nav.mobile.is-active {
        display: none;
    }
}

@media (max-width: 900px) {
    #menu .container,
    #chefs .container {
        flex-direction: column;
    }

    #about .container {
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
    }

    #about .container img {
        grid-area: 2 / 1 / span 1 / -1;
        width: 50%;
    }

    #about .text {
        justify-self: center;
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #about .text > * {
        text-align: center;
    }
}

@media (min-width: 1800px) {
    :root {
        --max-width: 1500px;
    }

    body {
        font-size: 20px;
    }

    #menu-section .items {
        grid-template-columns: repeat(3, 1fr);
    }

    #reserve-form .container {
        max-width: 1000px;
    }
}
